# Vim stuff
*.swp
*.swo

# settings
settings.vim

# Python
.ropeproject

# Local file versions
version/local
!version/templates/*
!version/remote/*
!version/path/*

# vim-workspace session
Session.vim
/.undodir

# Note for updates
note.txt
notes.txt

# Test files
test.*
